{{template "header" .}}
<div class="px-9 py-8 bg-white rounded shadow">
  <div class="px-6">
    <h1 class="py-4 text-4xl semibold tracking-tight">Contact Page</h1>
    <p class="text-gray-800">
      To get in touch, email me at
      <a class="underline" href="mailto:blau.joshua@gmail.com">blau.joshua@gmail.com</a>.
    </p>
  </div>
</div>
{{template "footer" .}}